:root {
        --main-bg-color: pink;
        --herbe: #defde0;
        --feu: #fddfdf;
        --eau: #def3fd;
        --insecte: #f8d5a3;
        --start-gradient: #d5d4d9;
        --end-gradient: #eeedbe;
      }

body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: rgba(37, 181, 167, 0.619);
      }
      
      .portfolio-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
        max-width: 1200px;
        padding: 20px;
      }
      
      div> .user-card {
        background: linear-gradient(to right, rgba(139, 139, 245, 0.272), pink);
        border: 1px solid #ccc;
        padding: 20px;
        text-align: center;
        
        border-radius: 5px;
        box-shadow: -1px 10px 5px 0px rgba(0, 0, 0, 0.49);
        -webkit-box-shadow: -1px 10px 5px 0px rgba(0, 0, 0, 0.49);
        -moz-box-shadow: -1px 10px 5px 0px rgba(0, 0, 0, 0.49);
      }
      
      .user-card img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 auto 10px;
        display: block;
      }

      p {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;

      }

      @media screen and (max-width: 768px) {
        body {
                display: block;            
        }
        
        div> .user-card {
                flex-direction: column;
        }
      }

      